@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header-banner {
  background-color: #D9D9D9;
  text-align: center;
  font-size: 10;
  color: #4b9289;
  font-family: 'Barlow', sans-serif;
  position: absolute;
  width: 100%;
  letter-spacing: .0625rem; }

.navbar {
  background-color: #b0dad1a9;
  margin-top: 1.5rem;
  width: 100%; }

.contenedorDelNav a {
  margin-left: 20px;
  margin-right: 20px; }

.logo {
  font-size: 1.875rem;
  color: #ffff;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  transition: 0.3s color;
  font-weight: 800;
  letter-spacing: .0938rem; }

.navbar-nav .nav-link {
  color: #08242b;
  position: relative;
  font-weight: 500; }

.nav-link :hover, .nav-link :active {
  color: #000f13; }

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: .4375rem;
  background-color: #2a6270a9;
  visibility: hidden;
  transition: 0.3s ease-in-out; }

.nav-link:hover:before, .nav-link:active::before {
  width: 100%;
  visibility: visible; }

.nav-link {
  color: #ffff;
  font-weight: 700;
  border-radius: 5rem;
  font-family: "Raleway", sans-serif; }

.login-button {
  background-color: #2a6270a9;
  color: #ffff;
  font-size: .875rem;
  padding: .5rem 1.25rem;
  border-radius: 3.125rem;
  text-decoration: none;
  transition: 0.3s background-color;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: .0938rem; }

.login-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.582); }

.login-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.699); }

.login-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.login-button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.el-menu img {
  height: 1.25rem;
  outline: none;
  cursor: pointer; }

.navbar-toggler {
  font-size: 1.2rem;
  outline: none;
  padding: .5rem 1.25rem;
  margin-left: -0.875rem;
  margin-right: 1.25rem; }

.navbar-toggler:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.582);
  outline: none; }

.navbar-toggler:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.699);
  color: none;
  outline: none; }

.navbar-toggler::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  outline: none; }

.navbar-toggler:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.navbar-toggler:focus, .btn-close:focus {
  outline: none;
  box-shadow: none; }

.sectionPrincipal {
  background-image: url(../assets/fotoPrincipal3.jpg);
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-bottom: 1.75rem;
  max-width: 100%; }
  .sectionPrincipal h1 {
    display: flex;
    color: #ffff;
    font-family: "Raleway", sans-serif;
    background-blend-mode: darken;
    font-weight: 800;
    letter-spacing: .0938rem;
    font-size: 9rem;
    width: 100%;
    line-height: 0.9;
    margin-top: 30%;
    max-width: 100%; }
  .sectionPrincipal a {
    color: #ffff;
    font-family: "Raleway", sans-serif;
    background-blend-mode: darken;
    font-weight: 400;
    letter-spacing: .125rem;
    font-size: 2rem;
    width: 100%;
    line-height: 0.8;
    margin-left: -0.3rem;
    cursor: pointer;
    padding: .5rem;
    max-width: 50rem; }

/* .contenedorProductos {
    background-size: 250px 250px ;
    background-color: #151515;
    margin: 20fr;
    width: 100%;
    border-color: #FFFFFF;
    border-radius: 1.25rem;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: 1;
    grid-template-areas: 
    ". section1 section2 section3 .";
    justify-content: center;
    align-items: center;
} */
/* .contenedorProductos img{
    display: flex;
    justify-content: space-between;
} */
.lasCards .conjuntos, .lasCards .abrigo, .lasCards .accesorios {
  color: #141414;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: .1875rem; }

.btn-sm {
  white-space: nowrap; }

.corazon input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-left: 80%; }

.corazon {
  display: block;
  cursor: pointer;
  user-select: none; }

.corazon svg {
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  fill: #7a7a7a; }

.corazon svg:hover {
  transform: scale(1.1); }

.corazon input:checked ~ svg {
  fill: #E3474F; }

.cardsDeTexto {
  margin-top: 2.8rem;
  padding: .625rem 5rem;
  margin-bottom: 3rem; }
  .cardsDeTexto .cardTexto {
    max-width: 50rem; }
  .cardsDeTexto .card-body {
    margin-left: 2.5rem;
    margin-right: 2.5rem; }
    .cardsDeTexto .card-body .elDivDeLaCardDeTexto {
      align-items: center;
      margin-bottom: .3125rem; }
      .cardsDeTexto .card-body .elDivDeLaCardDeTexto h5 {
        font-family: "Raleway", sans-serif;
        color: #166b6b;
        font-weight: 600; }
    .cardsDeTexto .card-body img {
      top: 0;
      left: 0;
      height: 2.8125rem;
      width: 2.8125rem;
      margin-right: .5625rem;
      margin-left: .5rem; }
    .cardsDeTexto .card-body p {
      font-family: "Raleway", sans-serif;
      font-size: 1.1rem;
      letter-spacing: .0875rem; }

.cuadradoPrincipal {
  box-sizing: border-box;
  width: 1800px;
  height: 700px;
  flex-shrink: 0;
  background-image: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
  padding: 5rem;
  margin-bottom: 6rem; }
  .cuadradoPrincipal h2 {
    color: #141414;
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 4px; }
  .cuadradoPrincipal .slide-contenedor {
    width: 100%;
    align-items: center;
    position: absolute; }
    .cuadradoPrincipal .slide-contenedor .imagen-slider {
      width: 100%;
      height: 37.5rem;
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.7s; }
      .cuadradoPrincipal .slide-contenedor .imagen-slider .slides-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.875rem 0 1.875rem; }
        .cuadradoPrincipal .slide-contenedor .imagen-slider .slides-div img {
          position: relative;
          width: 15rem;
          height: 23.125rem;
          transition: .5s;
          background: #e0e0e0;
          box-shadow: 15px 15px 30px #303030a4, -15px -15px 30px #7e7e7e; }
        .cuadradoPrincipal .slide-contenedor .imagen-slider .slides-div .button {
          position: absolute;
          width: 15rem;
          height: 23.125rem;
          transition: .5s; }
    .cuadradoPrincipal .slide-contenedor #slider-span1:target ~ .imagen-slider #img1,
    .cuadradoPrincipal .slide-contenedor #slider-span1:target ~ .imagen-slider #button-1,
    .cuadradoPrincipal .slide-contenedor #slider-span2:target ~ .imagen-slider #img2,
    .cuadradoPrincipal .slide-contenedor #slider-span2:target ~ .imagen-slider #button-2,
    .cuadradoPrincipal .slide-contenedor #slider-span3:target ~ .imagen-slider #img3,
    .cuadradoPrincipal .slide-contenedor #slider-span3:target ~ .imagen-slider #button-3,
    .cuadradoPrincipal .slide-contenedor #slider-span4:target ~ .imagen-slider #img4,
    .cuadradoPrincipal .slide-contenedor #slider-span4:target ~ .imagen-slider #button-4,
    .cuadradoPrincipal .slide-contenedor #slider-span5:target ~ .imagen-slider #img5,
    .cuadradoPrincipal .slide-contenedor #slider-span5:target ~ .imagen-slider #button-5,
    .cuadradoPrincipal .slide-contenedor #slider-span6:target ~ .imagen-slider #img6,
    .cuadradoPrincipal .slide-contenedor #slider-span6:target ~ .imagen-slider #button-6,
    .cuadradoPrincipal .slide-contenedor #slider-span7:target ~ .imagen-slider #img7,
    .cuadradoPrincipal .slide-contenedor #slider-span7:target ~ .imagen-slider #button-7 {
      transform: scale(1.2);
      z-index: 1; }
    .cuadradoPrincipal .slide-contenedor #slider-span1:target ~ .imagen-slider {
      left: 70%; }
    .cuadradoPrincipal .slide-contenedor #slider-span2:target ~ .imagen-slider {
      left: 50%; }
    .cuadradoPrincipal .slide-contenedor #slider-span3:target ~ .imagen-slider {
      left: 25%; }
    .cuadradoPrincipal .slide-contenedor #slider-span4:target ~ .imagen-slider {
      left: 0; }
    .cuadradoPrincipal .slide-contenedor #slider-span5:target ~ .imagen-slider {
      left: -25%; }
    .cuadradoPrincipal .slide-contenedor #slider-span6:target ~ .imagen-slider {
      left: -50%; }
    .cuadradoPrincipal .slide-contenedor #slider-span7:target ~ .imagen-slider {
      left: -70%; }

.cardsDeTextoAbajo {
  padding: 2rem 6rem; }
  .cardsDeTextoAbajo .cardTextoAbajo {
    margin: 1.25rem;
    align-items: center;
    margin-bottom: .3125rem;
    font-family: "Raleway", sans-serif; }
    .cardsDeTextoAbajo .cardTextoAbajo h5 {
      font-family: "Raleway", sans-serif;
      color: #166b6b;
      font-weight: 600;
      font-size: 20px; }
    .cardsDeTextoAbajo .cardTextoAbajo img {
      top: 0;
      left: 0;
      height: 2.8125rem;
      width: 2.8125rem;
      margin-right: .5625rem;
      margin-left: .5rem;
      letter-spacing: 4px; }
    .cardsDeTextoAbajo .cardTextoAbajo p {
      font-family: "Raleway", sans-serif;
      letter-spacing: .0875rem; }
  .cardsDeTextoAbajo .elMapa {
    margin: 4rem; }

.newsletter {
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  padding: 1.125rem;
  width: 900px;
  height: 300px;
  border-radius: 40px;
  background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
  .newsletter h2 {
    margin-top: .75rem;
    color: #141414;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer; }
  .newsletter p {
    margin-top: .85rem;
    color: #141414;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px; }

.card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 7rem; }
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: white;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black; }
  .card__form button {
    border: 0;
    background: #111;
    color: #ffff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold; }
  .card__form .sign-up:hover {
    opacity: 0.8; }

.nuestraHistoria {
  padding: 8rem 0; }
  .nuestraHistoria .elMainDelNos h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800; }
  .nuestraHistoria .elMainDelNos h2 {
    font-family: "Raleway", sans-serif; }

.sectionPrincipalVerano {
  padding: 6rem 0; }
  .sectionPrincipalVerano h1 {
    margin-top: 0.85rem;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800; }
  .sectionPrincipalVerano img {
    margin-top: 0.25rem; }

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5%;
  margin-top: 0; }
  .grid-container .card {
    flex: 1;
    margin: 5rem;
    /* Ajusta el margen entre las imágenes */ }
  .grid-container .card1 img,
  .grid-container .card2 img {
    width: 20rem;
    height: 25rem; }
  .grid-container .card3 img {
    width: 50rem;
    height: 50rem; }

.background-rectangle {
  box-sizing: border-box;
  position: absolute;
  height: 690px;
  /* Ocupa toda la altura de la página */
  background-image: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
  /* Agrega la imagen de fondo */
  z-index: -1;
  /* Coloca el rectángulo detrás del contenido */
  margin-top: 60rem;
  width: 100%; }

.fotis img {
  margin-top: 3rem;
  margin-bottom: 48px;
  align-content: center;
  width: 17rem;
  height: 21rem; }

.cuadradoPrincipalVerano {
  box-sizing: border-box;
  width: 1800px;
  height: 700px;
  flex-shrink: 0;
  padding: 5rem; }
  .cuadradoPrincipalVerano h2 {
    color: #141414;
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 4px; }
  .cuadradoPrincipalVerano .slide-contenedorVerano {
    width: 100%;
    align-items: center;
    position: absolute; }
    .cuadradoPrincipalVerano .slide-contenedorVerano .imagen-sliderVerano {
      width: 100%;
      height: 37.5rem;
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.7s; }
      .cuadradoPrincipalVerano .slide-contenedorVerano .imagen-sliderVerano .slides-divVerano {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.875rem 0 1.875rem; }
        .cuadradoPrincipalVerano .slide-contenedorVerano .imagen-sliderVerano .slides-divVerano img {
          position: relative;
          width: 15rem;
          height: 23.125rem;
          transition: .5s;
          background: #e0e0e0;
          box-shadow: 15px 15px 30px #303030a4, -15px -15px 30px #7e7e7e; }
        .cuadradoPrincipalVerano .slide-contenedorVerano .imagen-sliderVerano .slides-divVerano .buttonVerano {
          position: absolute;
          width: 15rem;
          height: 23.125rem;
          transition: .5s; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span1:target ~ .imagen-sliderVerano #img1,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span1:target ~ .imagen-sliderVerano #buttonVerano-1,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span2:target ~ .imagen-sliderVerano #img2,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span2:target ~ .imagen-sliderVerano #buttonVerano-2,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span3:target ~ .imagen-sliderVerano #img3,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span3:target ~ .imagen-sliderVerano #buttonVerano-3,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span4:target ~ .imagen-sliderVerano #img4,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span4:target ~ .imagen-sliderVerano #buttonVerano-4,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span5:target ~ .imagen-sliderVerano #img5,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span5:target ~ .imagen-sliderVerano #buttonVerano-5,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span6:target ~ .imagen-sliderVerano #img6,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span6:target ~ .imagen-sliderVerano #buttonVerano-6,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span7:target ~ .imagen-sliderVerano #img7,
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span7:target ~ .imagen-sliderVerano #buttonVerano-7 {
      transform: scale(1.2);
      z-index: 1; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span1:target ~ .imagen-sliderVerano {
      left: 70%; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span2:target ~ .imagen-sliderVerano {
      left: 50%; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span3:target ~ .imagen-sliderVerano {
      left: 25%; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span4:target ~ .imagen-sliderVerano {
      left: 0; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span5:target ~ .imagen-sliderVerano {
      left: -25%; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span6:target ~ .imagen-sliderVerano {
      left: -50%; }
    .cuadradoPrincipalVerano .slide-contenedorVerano #slider-span7:target ~ .imagen-sliderVerano {
      left: -70%; }

.sectionPrincipalInvierno {
  padding: 6rem 0; }
  .sectionPrincipalInvierno h1 {
    margin-top: 0.85rem;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800; }
  .sectionPrincipalInvierno img {
    margin-top: 0.25rem; }

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5%;
  margin-top: 0; }
  .grid-container .cardInvierno {
    flex: 1;
    margin: 5rem;
    /* Ajusta el margen entre las imágenes */ }
  .grid-container .card1 img,
  .grid-container .card2 img {
    width: 20rem;
    height: 25rem; }
  .grid-container .card3 img {
    width: 50rem;
    height: 50rem; }

.background-rectangleInvierno {
  box-sizing: border-box;
  position: absolute;
  height: 690px;
  /* Ocupa toda la altura de la página */
  background-image: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
  /* Agrega la imagen de fondo */
  z-index: -1;
  /* Coloca el rectángulo detrás del contenido */
  margin-top: 60rem;
  width: 100%; }

.fotisInvierno img {
  margin-top: 3rem;
  margin-bottom: 48px;
  align-content: center;
  width: 17rem;
  height: 21rem; }

.cuadradoPrincipalInvierno {
  box-sizing: border-box;
  width: 1800px;
  height: 700px;
  flex-shrink: 0;
  padding: 5rem; }
  .cuadradoPrincipalInvierno h2 {
    color: #141414;
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 4px; }
  .cuadradoPrincipalInvierno .slide-contenedorInvierno {
    width: 100%;
    align-items: center;
    position: absolute; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno .imagen-sliderInvierno {
      width: 100%;
      height: 37.5rem;
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.7s; }
      .cuadradoPrincipalInvierno .slide-contenedorInvierno .imagen-sliderInvierno .slides-divInvierno {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.875rem 0 1.875rem; }
        .cuadradoPrincipalInvierno .slide-contenedorInvierno .imagen-sliderInvierno .slides-divInvierno img {
          position: relative;
          width: 15rem;
          height: 23.125rem;
          transition: .5s;
          background: #e0e0e0;
          box-shadow: 15px 15px 30px #303030a4, -15px -15px 30px #7e7e7e; }
        .cuadradoPrincipalInvierno .slide-contenedorInvierno .imagen-sliderInvierno .slides-divInvierno .buttonInvierno {
          position: absolute;
          width: 15rem;
          height: 23.125rem;
          transition: .5s; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span1:target ~ .imagen-sliderInvierno #img1,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span1:target ~ .imagen-sliderInvierno #buttonInvierno-1,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span2:target ~ .imagen-sliderInvierno #img2,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span2:target ~ .imagen-sliderInvierno #buttonInvierno-2,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span3:target ~ .imagen-sliderInvierno #img3,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span3:target ~ .imagen-sliderInvierno #buttonInvierno-3,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span4:target ~ .imagen-sliderInvierno #img4,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span4:target ~ .imagen-sliderInvierno #buttonInvierno-4,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span5:target ~ .imagen-sliderInvierno #img5,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span5:target ~ .imagen-sliderInvierno #buttonInvierno-5,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span6:target ~ .imagen-sliderInvierno #img6,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span6:target ~ .imagen-sliderInvierno #buttonInvierno-6,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span7:target ~ .imagen-sliderInvierno #img7,
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span7:target ~ .imagen-sliderInvierno #buttonInvierno-7 {
      transform: scale(1.2);
      z-index: 1; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span1:target ~ .imagen-sliderInvierno {
      left: 70%; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span2:target ~ .imagen-sliderInvierno {
      left: 50%; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span3:target ~ .imagen-sliderInvierno {
      left: 25%; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span4:target ~ .imagen-sliderInvierno {
      left: 0; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span5:target ~ .imagen-sliderInvierno {
      left: -25%; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span6:target ~ .imagen-sliderInvierno {
      left: -50%; }
    .cuadradoPrincipalInvierno .slide-contenedorInvierno #slider-span7:target ~ .imagen-sliderInvierno {
      left: -70%; }

.sectionPrincipalAccesorios {
  padding: 6rem 0; }
  .sectionPrincipalAccesorios h1 {
    margin-top: 0.85rem;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800; }
  .sectionPrincipalAccesorios img {
    margin-top: 0.25rem; }

.cardsAccesorios {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .cardsAccesorios .cardAccesorios1, .cardsAccesorios .cardAccesorios2, .cardsAccesorios .cardAccesorios3, .cardsAccesorios .cardAccesorios4 {
    margin: 1.25rem;
    width: 220px;
    height: 284px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all .4s; }
    .cardsAccesorios .cardAccesorios1 img, .cardsAccesorios .cardAccesorios2 img, .cardsAccesorios .cardAccesorios3 img, .cardsAccesorios .cardAccesorios4 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .cardsAccesorios .cardAccesorios1::before, .cardsAccesorios .cardAccesorios2::before, .cardsAccesorios .cardAccesorios3::before, .cardsAccesorios .cardAccesorios4::before {
      content: 'Precio: $20';
      letter-spacing: 0.2em;
      position: absolute;
      bottom: 8px;
      left: 20px;
      color: #333333;
      font-size: 0.8em;
      font-weight: 700; }
    .cardsAccesorios .cardAccesorios1 div, .cardsAccesorios .cardAccesorios2 div, .cardsAccesorios .cardAccesorios3 div, .cardsAccesorios .cardAccesorios4 div {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
      cursor: pointer;
      z-index: 10;
      transition: all .4s;
      background-color: #fff; }
    .cardsAccesorios .cardAccesorios1:hover div, .cardsAccesorios .cardAccesorios2:hover div, .cardsAccesorios .cardAccesorios3:hover div, .cardsAccesorios .cardAccesorios4:hover div {
      transform: translateY(-30px); }
  .cardsAccesorios .cardAccesorios2::before {
    content: 'Precio: $15'; }
  .cardsAccesorios .cardAccesorios3::before {
    content: 'Precio: $40'; }
  .cardsAccesorios .cardAccesorios4::before {
    content: 'Precio: $20'; }

.grid-containerAccesorios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5%;
  margin-top: 0;
  margin-top: 1.25rem; }
  .grid-containerAccesorios .cardAccesorios {
    flex: 1;
    margin: 5rem; }
  .grid-containerAccesorios .cardAccesorios-1 img,
  .grid-containerAccesorios .cardAccesorios-2 img {
    width: 20rem;
    height: 25rem; }
  .grid-containerAccesorios .cardAccesorios-3 img {
    width: 50rem;
    height: 50rem; }

.container-accesorios {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  width: 90%;
  margin: 0 auto;
  padding: 0 15px; }
  .container-accesorios img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .container-accesorios .cardA {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 100%; }
  .container-accesorios:hover > :not(:hover) {
    opacity: 0.2; }

.sectionPrincipalConjuntos {
  padding: 6rem 0; }
  .sectionPrincipalConjuntos h1 {
    margin-top: 0.85rem;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 800; }
  .sectionPrincipalConjuntos img {
    margin-top: 0.25rem; }

.grid-containerConjuntos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5%;
  margin-top: 0; }
  .grid-containerConjuntos .cardConjuntos {
    flex: 1;
    margin: 5rem;
    /* Ajusta el margen entre las imágenes */ }
  .grid-containerConjuntos .card1 img,
  .grid-containerConjuntos .card2 img {
    width: 20rem;
    height: 25rem; }
  .grid-containerConjuntos .card3 img {
    width: 50rem;
    height: 50rem; }

.background-rectangleConjuntos {
  box-sizing: border-box;
  position: absolute;
  height: 690px;
  /* Ocupa toda la altura de la página */
  background-image: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
  /* Agrega la imagen de fondo */
  z-index: -1;
  /* Coloca el rectángulo detrás del contenido */
  margin-top: 60rem;
  width: 100%; }

.fotisConjuntos img {
  margin-top: 3rem;
  margin-bottom: 48px;
  align-content: center;
  width: 17rem;
  height: 21rem; }

.cuadradoPrincipalConjuntos {
  box-sizing: border-box;
  width: 1800px;
  height: 700px;
  flex-shrink: 0;
  padding: 5rem; }
  .cuadradoPrincipalConjuntos h2 {
    color: #141414;
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 4px; }
  .cuadradoPrincipalConjuntos .slide-contenedorConjuntos {
    width: 100%;
    align-items: center;
    position: absolute; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos .imagen-sliderConjuntos {
      width: 100%;
      height: 37.5rem;
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.7s; }
      .cuadradoPrincipalConjuntos .slide-contenedorConjuntos .imagen-sliderConjuntos .slides-divConjuntos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.875rem 0 1.875rem; }
        .cuadradoPrincipalConjuntos .slide-contenedorConjuntos .imagen-sliderConjuntos .slides-divConjuntos img {
          position: relative;
          width: 15rem;
          height: 23.125rem;
          transition: .5s;
          background: #e0e0e0;
          box-shadow: 15px 15px 30px #303030a4, -15px -15px 30px #7e7e7e; }
        .cuadradoPrincipalConjuntos .slide-contenedorConjuntos .imagen-sliderConjuntos .slides-divConjuntos .buttonConjuntos {
          position: absolute;
          width: 15rem;
          height: 23.125rem;
          transition: .5s; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span1:target ~ .imagen-sliderConjuntos #img1,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span1:target ~ .imagen-sliderConjuntos #buttonConjuntos-1,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span2:target ~ .imagen-sliderConjuntos #img2,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span2:target ~ .imagen-sliderConjuntos #buttonConjuntos-2,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span3:target ~ .imagen-sliderConjuntos #img3,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span3:target ~ .imagen-sliderConjuntos #buttonConjuntos-3,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span4:target ~ .imagen-sliderConjuntos #img4,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span4:target ~ .imagen-sliderConjuntos #buttonConjuntos-4,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span5:target ~ .imagen-sliderConjuntos #img5,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span5:target ~ .imagen-sliderConjuntos #buttonConjuntos-5,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span6:target ~ .imagen-sliderConjuntos #img6,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span6:target ~ .imagen-sliderConjuntos #buttonConjuntos-6,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span7:target ~ .imagen-sliderConjuntos #img7,
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span7:target ~ .imagen-sliderConjuntos #buttonConjuntos-7 {
      transform: scale(1.2);
      z-index: 1; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span1:target ~ .imagen-sliderConjuntos {
      left: 70%; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span2:target ~ .imagen-sliderConjuntos {
      left: 50%; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span3:target ~ .imagen-sliderConjuntos {
      left: 25%; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span4:target ~ .imagen-sliderConjuntos {
      left: 0; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span5:target ~ .imagen-sliderConjuntos {
      left: -25%; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span6:target ~ .imagen-sliderConjuntos {
      left: -50%; }
    .cuadradoPrincipalConjuntos .slide-contenedorConjuntos #slider-span7:target ~ .imagen-sliderConjuntos {
      left: -70%; }

footer a.text-body-secondary {
  color: #6c757d !important; }

@media (max-width: 1075px) {
  html {
    font-size: 55%; }
  .iconos {
    display: block;
    size: auto; }
  .newsletter {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 991px) {
  html {
    font-size: 55%; }
  .iconos {
    display: block;
    size: auto; }
  .newsletter {
    width: 100%;
    margin: 0 auto; } }

@media (max-width: 800px) {
  html {
    font-size: 80%; }
  .iconos {
    display: block;
    size: auto; }
  .newsletter {
    padding: 1.125rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
    background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
    .newsletter h2 {
      margin-top: .75rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer; }
    .newsletter p {
      margin-top: .85rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px; }
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem; }
  input {
    margin-top: 10px;
    outline: 0;
    background: white;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    font-size: 14px; }
  button {
    border: 0;
    background: #111;
    color: #ffff;
    padding: 0.68em;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold; }
  .sign-up:hover {
    opacity: 0.8; } }

@media (max-width: 775px) {
  .iconos {
    display: block;
    size: auto; }
  .coleccion {
    font-size: 90%; }
  .newsletter {
    padding: 1.125rem;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
    background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
    .newsletter h2 {
      margin-top: .75rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer; }
    .newsletter p {
      margin-top: .85rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px; }
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem; }
  input {
    margin-top: 10px;
    outline: 0;
    background: white;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    font-size: 14px; }
  button {
    border: 0;
    background: #111;
    color: #ffff;
    padding: 0.68em;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold; }
  .sign-up:hover {
    opacity: 0.8; } }

@media (max-width: 468px) {
  html {
    font-size: 85%; }
  .iconos {
    display: block;
    size: auto; }
  .coleccion {
    font-size: 80%; }
  .containerDeAbajo {
    display: flex;
    align-items: center;
    width: 260px; }
  .laColumn {
    justify-content: center;
    align-items: center;
    display: column;
    direction: column; }
  .cardsDeTextoAbajo {
    padding: 1rem; }
  .cardTextoAbajo {
    width: 100%;
    margin: 0.5rem 0; }
  .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo {
    display: column;
    align-items: flex-start; }
  .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo img {
    width: auto;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }
  .cardTextoAbajo h5 {
    font-size: 16px; }
  iframe {
    width: 100%; }
  .newsletter {
    padding: 1.125rem;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
    background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
    .newsletter h2 {
      margin-top: .75rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer; }
    .newsletter p {
      margin-top: .85rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px; }
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem; }
  input {
    margin-top: 10px;
    outline: 0;
    background: white;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    font-size: 14px; }
  button {
    border: 0;
    background: #111;
    color: #ffff;
    padding: 0.68em;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold; }
  .sign-up:hover {
    opacity: 0.8; } }

@media (max-width: 425px) {
  html {
    font-size: 80%; }
  .iconos {
    display: block;
    size: 60%; }
  .header-banner {
    font-size: 80%; }
  .menu {
    margin-right: 0; }
  .elNombre {
    font-size: 1.375rem;
    margin-left: 0; }
  .coleccion a {
    font-size: 70%; }
  .sectionPrincipal h1 {
    font-size: 4rem; }
  .lasCards {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    margin-left: 1rem; }
    .lasCards img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .lasCards .btn-ver-mas {
      width: 50%;
      height: 30%; }
    .lasCards .corazon input {
      height: 0;
      width: 0;
      margin-left: 70%; }
  .cardsDeTexto {
    display: column;
    margin: .90rem; }
    .cardsDeTexto .cardTexto {
      margin-bottom: 1.25rem; }
  .containerDeAbajo {
    display: flex;
    align-items: center;
    width: 260px; }
  .laColumn {
    justify-content: center;
    align-items: center;
    display: column;
    direction: column; }
  .cardsDeTextoAbajo {
    padding: 1rem; }
  .cardTextoAbajo {
    width: 100%;
    margin: 0.5rem 0; }
  .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo {
    display: column;
    align-items: flex-start; }
  .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo img {
    width: auto;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }
  .cardTextoAbajo h5 {
    font-size: 16px; }
  iframe {
    width: 100%; }
  .newsletter {
    padding: 1.125rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
    background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
    .newsletter h2 {
      margin-top: .75rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer; }
    .newsletter p {
      margin-top: .85rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px; }
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem; }
  input {
    margin-top: 10px;
    outline: 0;
    background: white;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    font-size: 14px; }
  button {
    border: 0;
    background: #111;
    color: #ffff;
    padding: 0.68em;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold; }
  .sign-up:hover {
    opacity: 0.8; } }

@media (max-width: 320px) {
  html {
    font-size: 80%; }
  .iconos {
    display: block;
    size: 60%; }
  .header-banner {
    font-size: 70%; }
  .menu {
    margin-right: 0; }
  .elNombre {
    font-size: 1.375rem;
    margin-left: 0; }
  .coleccion a {
    font-size: 70%; }
  .sectionPrincipal h1 {
    font-size: 3rem; }
  .lasCards {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    margin-left: .75rem; }
    .lasCards img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .lasCards .btn-ver-mas {
      width: 50%;
      height: 30%; }
    .lasCards .corazon input {
      height: 0;
      width: 0;
      margin-left: 70%; }
  .cardsDeTexto {
    display: column;
    margin: .90rem; }
    .cardsDeTexto .cardTexto {
      margin-bottom: 1.25rem; }
  .containerDeAbajo {
    display: flex;
    align-items: center;
    width: 260px; }
  .laColumn {
    justify-content: center;
    align-items: center;
    display: column;
    direction: column; }
  .cardsDeTextoAbajo {
    padding: 1rem; }
  .cardTextoAbajo {
    width: 100%;
    margin: 0.5rem 0; }
  .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo {
    display: column;
    align-items: flex-start; }
  .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo img {
    width: auto;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }
  .cardTextoAbajo h5 {
    font-size: 16px; }
  iframe {
    width: 100%; }
  .newsletter {
    padding: 1.125rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
    background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
    .newsletter h2 {
      margin-top: .75rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer; }
    .newsletter p {
      margin-top: .85rem;
      color: #141414;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px; }
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem; }
  input {
    margin-top: 10px;
    outline: 0;
    background: white;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    font-size: 14px; }
  button {
    border: 0;
    background: #111;
    color: #ffff;
    padding: 0.68em;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold; }
  .sign-up:hover {
    opacity: 0.8; } }

@media (max-width: 260px) {
  html {
    font-size: 70%; }
    html .sectionPrincipal h1 {
      font-size: 3rem; }
    html .lasCards {
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 60%;
      margin-left: .75rem; }
      html .lasCards img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      html .lasCards .btn-ver-mas {
        width: 50%;
        height: 30%; }
      html .lasCards .corazon input {
        height: 0;
        width: 0;
        margin-left: 70%; }
    html .cardsDeTexto {
      display: column;
      margin: .90rem;
      margin-left: 1rem; }
      html .cardsDeTexto .cardTexto {
        margin-bottom: 1.25rem; }
    html .cuadradoPrincipal {
      height: 45rem;
      width: 260px; }
      html .cuadradoPrincipal h2 {
        margin-top: 1rem;
        font-size: 1.875rem;
        line-height: 20px;
        letter-spacing: 2px; }
        html .cuadradoPrincipal h2 .slide-contenedor .imagen-slider {
          display: flex;
          overflow-x: hidden;
          width: 100%; }
          html .cuadradoPrincipal h2 .slide-contenedor .imagen-slider .slides-div {
            width: 260px; }
    html .containerDeAbajo {
      display: flex;
      align-items: center;
      width: 260px; }
    html .laColumn {
      justify-content: center;
      align-items: center;
      display: column;
      direction: column; }
    html .cardsDeTextoAbajo {
      padding: 1rem; }
    html .cardTextoAbajo {
      width: 100%;
      margin: 0.5rem 0; }
    html .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo {
      display: column;
      align-items: flex-start; }
    html .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo img {
      width: auto;
      height: 2rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem; }
    html .cardTextoAbajo h5 {
      font-size: 16px; }
    html iframe {
      width: 100%; }
    html .newsletter {
      padding: 1.125rem;
      margin: 0 auto;
      margin-top: 2rem;
      width: 90%;
      max-width: 300px;
      height: auto;
      border-radius: 40px;
      background: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
      box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25); }
      html .newsletter h2 {
        margin-top: .75rem;
        color: #141414;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2px;
        cursor: pointer; }
      html .newsletter p {
        margin-top: .85rem;
        color: #141414;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px; }
    html .card__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 1rem; }
    html input {
      margin-top: 10px;
      outline: 0;
      background: white;
      box-shadow: transparent 0px 0px 0px 1px inset;
      padding: 0.6em;
      border-radius: 14px;
      border: 1px solid #333;
      font-size: 14px; }
    html button {
      border: 0;
      background: #111;
      color: #ffff;
      padding: 0.68em;
      border-radius: 14px;
      font-size: 14px;
      font-weight: bold; }
    html .sign-up:hover {
      opacity: 0.8; } }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  overflow-x: hidden; }
