@import "./utilities/variable";
@import "./utilities/mixins";
@import "./base/resets";
@import "./base/typography";
@import "./components/boostrap";
@import "./components/cards";
@import "./layout/header";
@import "./layout/mainIndex";
@import "./layout/mainNos";
@import "./layout/mainTempVerano";
@import "./layout/mainAbrigos";
@import "./layout/mainAccesorios";
@import "./layout/mainConjuntos";
@import "./layout/footer";
@import "./layout/media/media1075";
@import "./layout/media/media991";
@import "./layout/media/media800";
@import "./layout/media/media775";
@import "./layout/media/media468";
@import "./layout/media/media425";
@import "./layout/media/media320";
@import "./layout/media/media260";


html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    overflow-x: hidden;
}
