@media (max-width:320px) {
    html{
        font-size: 80%;
    }    
    .iconos{
        display: block;
        size: 60%;
    }
    .header-banner{
        font-size: 70%;
    }
    .menu{
        margin-right: 0;
    }
    .elNombre{
        font-size: 1.375rem;
        margin-left: 0;
    }
    .coleccion a{
        font-size: 70%;
    }  
    .sectionPrincipal{
        h1{
            font-size: 3rem
        }
    }
    .lasCards{
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 60%;
        margin-left: .75rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .btn-ver-mas{
            width: 50%;
            height: 30%;
        }
        .corazon input {
            height: 0;
            width: 0;
            margin-left: 70%;
          }
    }
    .cardsDeTexto{
        display: column;
        margin: .90rem;
        .cardTexto{
            margin-bottom: 1.25rem;
        }
    }
    .containerDeAbajo {
        display: flex;
        align-items: center;
        width: 260px;
    }
    .laColumn{
        justify-content: center;
        align-items: center;
        display: column;
        direction: column;
    }
    .cardsDeTextoAbajo {
        padding: 1rem; 
    }

    .cardTextoAbajo {
        width: 100%; 
        margin: 0.5rem 0;
    }

    .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo {
        display: column;
        align-items: flex-start
    }

    .cardTextoAbajo .elDivDeLaCardDeTextoDeAbajo img {
        width: auto; 
        height: 2rem; 
        margin-right: 0.5rem; 
        margin-bottom: 0.5rem; 
    }

    .cardTextoAbajo h5 {
        font-size: 16px; 
    }

    iframe {
        width: 100%;
}
.newsletter {
    padding: 1.125rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%; 
    max-width: 300px;
    height: auto; 
    border-radius: 40px;
    background: $degradeBackground;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
  
    h2 {
      margin-top: .75rem;
      color: $textoNegro;
      text-align: center;
      font-family: $tipoPrincipal;
      font-size: 24px; 
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer;
    }
  
    p {
      margin-top: .85rem;
      color: $textoNegro;
      text-align: center;
      font-family: $tipoPrincipal;
      font-size: 16px; 
      font-weight: 400;
      letter-spacing: 1px; 
    }
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1rem; 
  }
  
  input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    font-size: 14px; 
  }
  
  button {
    border: 0;
    background: #111;
    color: $textoBlanco;
    padding: 0.68em;
    border-radius: 14px;
    font-size: 14px; 
    font-weight: bold;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  }
}