@media (max-width:260px) {
    html{
        font-size: 70%;
    }    
    .iconos{
        display: block;
        size: 30%;
    }
    .menu{
        margin-right: 0;
    }
    .header-banner{
        font-size: 65%;
    }
    .elNombre{
        font-size: 1rem;
        margin-left: 0;
    }
    .coleccion a{
        font-size: 70%;
    }  

}