$colorSolidoPrincipal:  #2a6270a9;
$degradeBackground: linear-gradient(to left top, #136d6d, #528895, #8aa4b4, #bcc1cd, #e3e3e3);
$textoBlanco: #ffff;
$textoNegro: #141414;
$tipoPrincipal: 'Raleway', sans-serif;