.sectionPrincipalVerano{
    padding: 6rem 0;
    h1{
        margin-top: 0.85rem;
        font-family: $tipoPrincipal;
        font-size: 3rem;
        font-weight: 800;
    }
    img{
        margin-top: 0.25rem;
    }
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5%;
    margin-top: 0;


.card {
    flex: 1;
    margin: 5rem; /* Ajusta el margen entre las imágenes */
}

.card1 img,
.card2 img {
    width: 20rem;
    height: 25rem;
}

.card3 img {
    width: 50rem;
    height: 50rem;
}

}
// .cuadradoPrincipal{
//     box-sizing: border-box;
//     width: 1800px;
//     height: 700px;
//     flex-shrink: 0;
//     background-image:$degradeBackground;
//     padding: 5rem;}
    // .background-rectangle {
    //     position:relative;
    //     box-sizing: border-box;
    //     width: 1800px;
    //     height: 700px;
    //     flex-shrink: 0;
    //     background-image:$degradeBackground;
    //     margin-top: -18rem;
    // }
    .background-rectangle {
        box-sizing: border-box;
        position: absolute;
        height: 800px; /* Ocupa toda la altura de la página */
        background-image: $degradeBackground; /* Agrega la imagen de fondo */
        z-index: -1; /* Coloca el rectángulo detrás del contenido */
        margin-top: 60rem;
        width: 100%;
    }
    